extends baseEmail

block content
  .bg
    img(src='https://res.cloudinary.com/paapii3d/image/upload/v1661624496/1661624494796.png'  alt='logo')
  p Hi #{firstName},
  p Welcome to your first day at Tinkoko -- the easiest platform to buy and sell agricultural products/services faster. Trust me, your business is going to appreciate this!
  p My name is Winifred, and I&rsquo;m here to make sure you&rsquo;re getting everything you need from Tinkoko.
  p Now, let&rsquo;s get you up and running.  
  p
  | First, you&rsquo;ll want to check our
  a(href='https://www.tinkoko.com/products') products
  | and place order for your desired product. 
  p 
  | Next, visit 
  a(href='https://www.tinkoko.com/feed') News feed. 
  | Here you have a community of farmers where you can see all shops, and post.  
  p TMESSENGER ,it allows you to chat and interact with customers all around the world by clicking the message button.
  p Day 1 is in the bag!  Any lingering questions? Visit the FAQ, you can chat with me on the help center. Happy to help anytime. 
  p 
  | You can also get on-demand answers right from Tinkoko&rsquo;s online 
  a(href='https://www.tinkoko.com/services/how-to-sell') learning centre. 
  
  
  p If you need any help with the application, please don't hesitate to contact the customer service Help Desk
  p - Winifred Onalo
  p Customer Success
  p Tinkoko
