extends baseEmail

block content
  .bg
    img(src='https://res.cloudinary.com/paapii3d/image/upload/v1661624496/1661624494796.png'  alt='logo')
  

    
  h3 Hi Customer Care,

  p A Customer has contacted you. Please respond as soon as possible.

  p Name: #{personName}
  p Phone: #{phone}
  p Email: #{email}
  p Message: #{message}

  p Customer Success
  p Tinkoko Team



