extends baseEmail

block content
  .bg
    img(src='./messageLogo.svg' width='100rem' height='100rem' alt='logo')
  p Hi #{firstName},
  p We received a request to update password. If you authorized this reset, please click on the link below to provide a new password. 
  p The link is only valid for 10 minutes. #{url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p Please ignore this email if this was not authorized by you or chat with the customer care for support!
